<div class="w-full h-screen">
    <div class="container flex justify-center items-center text-center h-full">
        <div class="">
            <div class="">
                <div class="">
                    <h1 class="text-[130px] text-blue-500 font-bold">403</h1>
                    <h3 class="font-bold">Forbidden Error!</h3>
                    <p class="font-bold mb-4">Permission not allowd.</p>
                    <div>
                        <a routerLink="/home" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 hover:text-white" >Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>